@{
    ViewData["Title"] = "Calculator";
}

@model TextCalculatorWebApp.Models.CalculatorModel

<div class="text-center">
    <h1 class="display-4">Welcome To Text Calculator</h1>
    <form asp-controller="Calculator" asp-action="Index" method="get">
        <h2>Enter a string with numbers, using comma to separate, for example: 3,2.4,6.5</h2>
        <input type="text" asp-for="number" required />
        <button type="submit">Add</button>
    </form>
    <h2>Your input number is: @Model.number</h2>
    <h2>The result is: @Model.result</h2>
</div>

