@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Text Calculator</h1>
    <a href="/Calculator/Index" class="btn btn-primary">Go To Calculate</a>
</div>

